body{
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}


.container{
    background-color: #364351;
    text-align: center;
    margin: auto; 
    border: 2px solid #364351;
    border-radius: 10px;
 
    
}

button{
    border-radius: 10px;
    width: 60px;
    height: 60px;
    margin: 1px;
    border: 1px solid black;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

.i{
    width: 126px;
    background-color: #c20202;
}

.exibir{
    width: 265px;
    height: 100px;
    background-color: #364351;
}

.buttonColor{
    background-color: #748a8b;
}

.colorBo{
    background-color: #364351;
}

