body{
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 84, 106);
}


.container{
    background-color: #364351;
    text-align: center;
    margin: auto; 
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 2px;
    
}

button{
    border-radius: 10px;
    width: 60px;
    height: 60px;
    margin: 1px;
    border: 2px solid black;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

.igual{
    width: 126px;
    background-color: #c20202;
}

.AC{
    width: 126px;
    background-color: #748a8b;
}

.exibir{
    font-size: 30px;
    color: rgb(192, 190, 190);

    width: 265px;
    height: 90px;
    background-color: #364351;

    border-radius: 12px 12px  0px 0px;

    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
    top: -5px;
    border-top:2px solid black;;
    border-bottom: 2px solid #A9A9A9;
}

.buttonColor{
    background-color: #748a8b;
}

.colorBo{
    background-color: #364351;
}

